body {
background-color: #d3eeee;
font-family: 'Comfortaa', cursive; 
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr ;
    justify-content: space-around;
    
} 

header {
    text-align: center;
}

.input-section {
    display: grid;
    background: white;
    border-radius: 15px;
    padding-left: 30px; 
    padding-top: 75px;
    /*height: 360px;*/
    
}
/*put each item in a seperate div to get tip amount shorter than other two*/

#output {
    background: rgb(12, 24, 24); 
    color: rgba(255, 255, 255, 0.671);
    border-radius: 15px;
    padding-top: 30px;
    padding-left: 20px;

}

#reset {
    background-color: lightskyblue;
}